@font-face {
  font-family: 'Nunito';
  src: url('./asset/fonts/Nunito-VariableFont_wght.ttf');
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100%;
}

body * {
  font-family: 'Nunito', sans-serif !important;
}

#root {
  height: auto !important; /* real browsers */
  height: 100%; /* IE6: treaded as min-height*/
  min-height: 100%; /* real browsers */
  min-height: 100vh;
}

#root * {
  font-family: 'Nunito', sans-serif;
}

input:-internal-autofill-selected {
  background-color: white !important;
}

button.Mui-disabled {
  opacity: 0.3;
}

.deAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}
th.th-sort {
  display: flex;
  align-items: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.custom-color-default.Mui-checked svg {
  fill: #304d95;
}
